main {
  background-image: url(images/blur.png);
  background-size: cover;
  background-position: 50% 0%;
  width: 98.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
